@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Utility first - preexisting classes directly in our html - no more css */

/* resoinsive design */
  /* mobile first approach - you will need to change it if you want it for the larger screens */  
  /* specify when a utility should start taking an effect, not when it should stop */
  /* design by minimum width - meaning, from that point and up */


/* hover, focus, & other resources */

/* dark mode */

/* adding base styles */

/* extracting components */

/* adding new utilities */


/* functions & directions */

/* Theme */

  /* extestends: extending the theme, preserve the deault values but add new values */
  /* to override - add them directly under your theme - replace default configuration */


/* breakPoints */

/* colors */